@charset "utf-8";

// Set your brand colors
$green: #006838;
$white: #ffffff;
$grey-dark: #4d4d4d;

// Update Bulma's global variables
$primary: $green;
$text: $grey-dark;

// Update some of Bulma's component variables
@import "~bulma/bulma.sass";

// Handcrafted CSS
.responsive {
  max-width: 100%;
  height: auto;
}

.navbar-burger.is-active {
  color: $primary;
  background-color: $white;
}

@media (min-width: $navbar-breakpoint) {
  .centered {
    display: flex;
    justify-content: center;
  }
}
